{% extends 'base.html' %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5>Haridorlar ro`yhati</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                                                        class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Haridorlar ro`yhati</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xl-8">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5>Store Visitors</h5>
                                                    </div>
                                                    <div class="col-auto text-end">
                                                        <span>This Month</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row mb-2">
                                                    <div class="col-auto">
                                                        <h4 class="m-0">563,756<i
                                                                class="feather icon-arrow-up text-c-green"></i></h4>
                                                        <span>Visits per Day</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h4 class="m-0">78,569<i class="feather icon-arrow-down text-c-red"></i>
                                                        </h4>
                                                        <span>Total Visitors</span>
                                                    </div>
                                                    <div class="col">
                                                        <h4 class="m-0">40.05%<i class="feather icon-arrow-up text-c-green"></i>
                                                        </h4>
                                                        <span>Bounce Rate</span>
                                                    </div>
                                                </div>
                                                <div id="site-visitor-chart" style="height:250px;width:100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- customizer start -->
                            <div class="col-lg-12">
                                <h1>Hello world</h1>
                            </div>
                            <!-- customizer end -->

                            <!-- [ document ] start -->
                            <div class="col-sm-12">
                                <h2>Welcome!</h2>
                            </div>
                            <!-- [ document ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
 {% endblock %}